<table cellpadding="2" class="resultbox1" width="90%">
<tr>
<td width="20%">
<span class="results_title_text">Award ID (Mod#):</span>
</td>
<td width="35%">
<span class="results_text">

<a alt="Click here to drill down by Award ID 0007" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+PIID%3A%220007%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Award ID 0007">0007</a>  
<a>( 6 ) </a>  
<a alt="View" href="javascript:getParentURL('/ezsearch/jsp/viewLinkController.jsp?agencyID=9700&amp;PIID=0007&amp;modNumber=6&amp;transactionNumber=0&amp;idvAgencyID=9700&amp;idvPIID=N4008516D2290&amp;actionSource=searchScreen&amp;actionCode=&amp;documentVersion=1.5&amp;contractType=AWARD&amp;docType=C')" title="View">(View)</a>
</span>
</td>
<td width="15%">
<span class="results_title_text">Award Type:</span>
</td>
<td width="30%">
<span class="results_text">
				DELIVERY ORDER
				</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">Legal Business Name:</span>
</td>
<td width="35%">
<span class="results_text">
<a alt="Click here to drill down by Legal Business Name RENOVA-SOVEREIGN JOINT VENTURE" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+UEI_NAME%3A%22RENOVA-SOVEREIGN+JOINT+VENTURE%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Legal Business Name RENOVA-SOVEREIGN JOINT VENTURE">RENOVA-SOVEREIGN JOINT VENTURE</a>
</span>
</td>
<td width="15%">
<span class="results_title_text">Contracting Agency:</span>
</td>
<td width="30%">
<span class="results_text">
<a alt="Click here to drill down by Contracting Agency DEPT OF THE NAVY" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+CONTRACTING_AGENCY_NAME%3A%22DEPT+OF+THE+NAVY%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Contracting Agency DEPT OF THE NAVY">DEPT OF THE NAVY</a>
</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">Date Signed:</span>
</td>
<td width="35%">
<span class="results_text">
								April 05, 2023
								</span>
</td>
<td width="15%">
<span class="results_title_text">Action Obligation:</span>
</td>
<td width="30%">
<span class="results_text">
				 				$180,963.1
								</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">Referenced IDV:</span>
</td>
<td width="35%">
<span class="results_text">
<a alt="Click here to drill down by Referenced IDV N4008516D2290" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+REF_IDV_PIID%3A%22N4008516D2290%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Referenced IDV N4008516D2290">N4008516D2290</a>
</span>
</td>
<td width="15%">
<span class="results_title_text">Contracting Office:</span>
</td>
<td width="30%">
<span class="results_text">
<a alt="Click here to drill down by Contracting Office NAVFACSYSCOM MID-ATLANTIC" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+CONTRACTING_OFFICE_NAME%3A%22NAVFACSYSCOM+MID-ATLANTIC%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Contracting Office NAVFACSYSCOM MID-ATLANTIC">NAVFACSYSCOM MID-ATLANTIC</a>
</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">NAICS (Code):</span>
</td>
<td width="35%">
<span class="results_text">
									  REMEDIATION SERVICES
					(
					  					  <a alt="Click here to drill down by NAICS Code  562910" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+PRINCIPAL_NAICS_CODE%3A%22562910%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by NAICS Code 562910">562910</a>
					)
								</span>
</td>
<td width="15%">
<span class="results_title_text">PSC (Code): </span>
</td>
<td width="30%">
<span class="results_text">
				ENVIRONMENTAL SYSTEMS PROTECTION- ENVIRONMENTAL REMEDIATION
				(
				  				  <a alt="Click here to drill down by PSC Code F108" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+PRODUCT_OR_SERVICE_CODE%3A%22F108%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by PSC Code  F108">F108</a>
				)
				</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">Entity City:</span>
</td>
<td width="35%">
<span class="results_text">
				OCEAN
				</span>
</td>
<td width="15%">
<span class="results_title_text">Unique Entity ID:</span>
</td>
<td width="30%">
<span class="results_text">
<a alt="Click here to drill down by Unique Entity ID  NMXELKLL3KC1" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+VENDOR_UEI%3A%22NMXELKLL3KC1%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Unique Entity ID NMXELKLL3KC1">NMXELKLL3KC1</a>
</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">Entity State:</span>
</td>
<td width="35%">
<span class="results_text">
				NJ
				</span>
</td>
<td width="15%">
<span class="results_title_text">Ultimate Parent Unique Entity ID:</span>
</td>
<td width="30%">
<span class="results_text">
<a alt="Click here to drill down by Ultimate Parent Unique Entity ID NMXELKLL3KC1" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+ULTIMATE_UEI%3A%22NMXELKLL3KC1%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Ultimate Parent Unique Entity ID NMXELKLL3KC1">NMXELKLL3KC1</a>
</span>
</td>
</tr>
<tr>
<td width="15%">
<span class="results_title_text">Entity ZIP:</span>
</td>
<td width="30%">
<span class="results_text">
<a alt="Click here to drill down by Entity Zip Code 077123911" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+VENDOR_ADDRESS_ZIP_CODE%3A%22077123911%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Entity Zip Code 077123911">077123911</a>
</span>
</td>
<td width="20%">
<span class="results_title_text">Ultimate Parent Legal Business Name:</span>
</td>
<td width="35%">
<span class="results_text">
<a alt="Click here to drill down by Ultimate Parent Legal Business Name RENOVA-SOVEREIGN JOINT VENTURE" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+ULTIMATE_UEI_NAME%3A%22RENOVA-SOVEREIGN+JOINT+VENTURE%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Ultimate Parent Legal Business Name RENOVA-SOVEREIGN JOINT VENTURE">RENOVA-SOVEREIGN JOINT VENTURE</a>
</span>
</td>
</tr>
<tr>
<td width="20%">
<span class="results_title_text">Cage Code:</span>
</td>
<td width="35%">
<span class="results_text">
<a alt="Click here to drill down by Cage Code 7G0G8" href="?q=AWARD_COMPLETION_DATE%3A%5B2025%2F07%2F29%2C2025%2F07%2F30%5D+CAGE_CODE%3A%227G0G8%22&amp;s=FPDS.GOV&amp;templateName=1.5.3&amp;indexName=awardfull" title="Click here to drill down by Cage Code 7G0G8">7G0G8</a>
</span>
</td>
</tr>
</table>